#emailInput {
    /* position: fixed;
    top: 20%; */
    text-align: center;
    /* padding-left: 43%; */
    /* left: 45%;
    right: 45%; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
<<<<<<< HEAD
    color: black;
=======
    color:black;
>>>>>>> 09bd5adcfc205b871f305dfe9eafc6deee27bccb
}

/* #emailSubmitButton {
    float: right;
} */

/* #emailSubmitButton {
    /* display:block;
    text-align: center; */
    /* position: relative;
    right: 0; 
    bottom: 0; */
    /* padding-bottom: 0; */

/* } */ 

#emailSubmitButton {
    display: inline-block;
}