@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
}

#about-us-content {
    position: absolute;
    left: 10%;
    right: 10%;
    text-align: center;
}

#human-fund {
    margin: 0;
    padding: 0;
}