@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
}

#landingHeader {
    position: fixed;
    top: 10%;
    left: 44%;
}

#headerValueStatement {
    position: fixed;
    top: 17%;
    left: 10%;
}

#landingLogo {
    position: fixed;
    top: 8%;
    left: 48%;
    opacity: 0.5;
}